body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f6f7f7;
  margin: 0;
  padding: 30px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  margin-bottom: 5px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-bottom: 20px;
}

input {
  padding: 15px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  
  padding: 3px,6px;
  border: none;
  border-radius: 6px;
  background-color: #2c68a9;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.status {
  text-align: center;
}

.error {
  color: red;
}


.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  transition: transform 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin: 0 0 5px;
}


.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: white;
  margin: 10% auto;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
}

#closeBtn {
  float: right;
  font-size: 20px;
  cursor: pointer;

}









